<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- Test -->
  <test thread-count="1" name="Addtocart">
  <classes>
  <class name="Tests.OrderItem"/>
  </classes>
  </test>
  
  <test thread-count="1" name="SideMenuTab">
  <classes>
  <class name="Tests.NavigationVerification"/>
  </classes>
  </test>
  
  <test thread-count="1" name="ChangingLocation">
  <classes>
  <class name="Tests.LocationChange"/>
  </classes>
  </test>
   
</suite> <!-- Suite -->
